@model InstructorWithDeptAndCrsListViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name Instructor Data</h1>

<form action="/Instructor/SaveEdit/@Model.Id" method="post">
    @* <input type="hidden" name="Id" value="@Model.Id" /> *@
    <div>
        <label>Name</label>
        <input class="form form-control" type="text" name="Name" id="Name" value="@Model?.Name" />
    </div>
    <div>
        <label>Img</label>
        <input class="form-check form-control" type="text" name="Img" id="Img" value="@Model?.Img" />
    </div>
    <div>
        <label>Salary</label>
        <input class="form-check form-control" type="number" name="Salary" id="Salary" value="@Model?.Salary" />
    </div>
    <div>
        <label>Address</label>
        <input class="form-check form-control" type="text" name="Address" id="Address" value="@Model?.Address" />
    </div>
    <div>
        <label>Department</label>
        @* <input class="form-check form-control" type="number" name="DeptId" id="DeptId" value="@Model?.DeptId" /> *@
        <select class="form-check form-control" name="DeptId" id="DeptId">
            @foreach  (var deptItem in Model.DeptList)
            {
                if (deptItem.Id == Model.DeptId)
                {
                    <option value="@deptItem.Id" selected>@deptItem.Name</option>
                }
                else
                {
                    <option value="@deptItem.Id">@deptItem.Name</option>
                }
            }
        </select>
    </div>
    <div>
        <label>Course</label>
        @* <input class="form-check form-control" type="number" name="CrsId" id="CrsId" value="@Model?.CrsId" /> *@
        <select class="form-check form-control" name="CrsId" id="CrsId">
            @foreach (var crsItem in Model.CrsList)
            {
                if(crsItem.Id == Model.CrsId)
                {
                    <option value="@crsItem.Id" selected>
                        @crsItem.Name
                    </option>
                }
                else
                {
                    <option value="@crsItem.Id">
                        @crsItem.Name
                    </option>
                }
            }
        </select>
    </div>
    <input type="submit" value="Update" class="btn btn-success" />
</form>
<a href="/Instructor/Index">back to list</a>